:host {
    --ir-object-fit: fill;
    --ir-width: 100%;
    --ir-height: auto;

    display: block;
}

img {
    object-fit: var(--ir-object-fit);
    font-family: 'object-fit';
    display: block;
    width: var(--ir-width);
    height: var(--ir-height);
}
